<div>
  <div class="row">
    <div>
      <article>
        <header>
          <h2>{{article.title}}</h2>
        </header>

        <p>
          {{aritcle.content}}
        </p>

        <small class="author">
                    {{article.author.fullName}}
                </small>

        <footer>
          <div class="pull-right">
            <a class="btn btn-success btn-xs" href="/article/edit/{{id}}">Edit &raquo;</a>
            <a class="btn btn-danger btn-xs" href="/article/delete/{{id}}">Delete &raquo;</a>
            <a class="btn btn-default btn-xs" href="/">Back &raquo;</a>
          </div>
        </footer>
      </article>
    </div>
  </div>
</div>